:root {
    --background: hsl(180, 52%, 96%);
    --filterbackground: hsl(180, 31%, 95%);
    --primarycyan: hsl(180, 29%, 50%);
    --darkgraycyan: hsl(180, 8%, 52%);
    --darkestgraycyan: hsl(180, 14%, 20%);
}